# Unneeded mod files
config/enderio/recipes/*
crafttweaker.log

# Unneeded source files
# Not allowed to include jar files I think? Hence why the mods folder is ignored.
.mixin.out/*
btfu_backups/*
downloads/*
libraries/*
llibrary/*
logs/*
mods/*
resourcepacks/*
saves/*
XaeroWaypoints/*
.curseclient
minecraftinstance.json
options.txt
