# Unneeded mod files
config/enderio/recipes/*
crafttweaker.log

# Unneeded source files & client-side files
# Not allowed to include jar files I think? Hence why the mods folder is ignored.
.mixin.out/*
btfu_backups/*
downloads/*
libraries/*
llibrary/*
logs/*
mods/*
XaeroWaypoints/*
resourcepacks/*
saves/*
.curseclient
minecraftinstance.json
options.txt
config/xaeropatreon.txt
config/xaerominimap.txt

# Ignored file extensions
*.zip
*.7z
*.rar