# Unneeded mod files
config/enderio/recipes/*
crafttweaker.log

# Unneeded source files & client-side files
# Not allowed to include jar files I think? Hence why the mods folder is ignored.
.mixin.out/*
btfu_backups/*
downloads/*
dumps/*
libraries/*
llibrary/*
local/*
logs/*
mods/*
XaeroWaypoints/*
resourcepacks/*
saves/*
.curseclient
minecraftinstance.json
options.txt
config/xaeropatreon.txt
config/xaerominimap.txt
servers.dat
mtservers.dat
username.json
usernamecache.json
.curseclient
BotaniaVars.dat
XaeroWaypoints_BACKUP062020/*
woot/*
screenshots/*
resources/*

# Ignored file extensions
*.zip
*.7z
*.rar
*.log